#contact-us{
    background-color: black;
    padding: 20px 0;
}
.buttonA{
    background-color: transparent;
    border: 0px;
    color:#c8d6e5;
    font-size: 16px;
    font-weight: 500;
}
.buttonA:hover{
    color:#8395a7;
}
.buttonA:focus{
    color: #ff6b6b;
}